.image-container-section {
    align-items: center;
    text-align: center;
    width: 1000px;
    display: flex;
    margin-bottom: 50px;  
}
.image-container-section h1 {
    color: #39ff14;
    display: block;
    font-size: 3vh;
    z-index: 2;
    margin-bottom: 20px;
}
.image-container-section img {
    border: 2px solid #39ff14;
    width: 500px;
    border-radius: 50%;
    z-index: 2;
}
.image-container-section .img-2{
    width: 500px;
    border: 2px solid #39ff14;
    height: 400px;
    border-radius: 50%;
    z-index: 2;
}
.image-container-section p {
     color: #39ff14;  
     display: block;  
     line-height: 30px;
     border: 2px solid #39ff14;
     border-radius: 70px;
     padding: 20px;
     font-size: 2vh;
}
.float-left {
    float: right;
}
.float-right{
    float: left;
}
.image-section {
    margin-top: 110px;
}
.new-section {
    border-top-color: #39ff14;
    border-top-width: 2px;
    border-top-style: solid;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.new-section h3 {
    display: flex;
    color: #39ff14;
    text-align: center;
    font-size: 1.25vw;
    line-height: 20px;
}
.new-section-image {
    margin-top: 50px;
    margin-bottom: 50px;
}
.banner-section .img-banner {
    margin-top: 78px;
    width: 100%;
    height: 640px;
    border-bottom-color: #39ff14;
    border-bottom-width: 3px;
    border-bottom-style: solid;  
}